.cover__subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 288px;
    color: #ffffff;
    margin: 16px auto 0;
    z-index: 2;
}

.cover__subtitle:hover + .cover__overlay {
  opacity: .8;
}

@media (min-width: 768px) {
    .cover__subtitle {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      width: 360px;
      margin-top: 32px;
    }
  }