.photo-grid__item {
    list-style: none;
    padding: 0;
    width: 100%;
    max-height: 216px;
}

@media (min-width: 768px) {
    .photo-grid__item {
        margin: 0;
        gap: 16px;
        max-height: 264px;
      }
  }
  
  @media (min-width: 1024px) {
    .photo-grid__item {
        gap: 14px;
        max-height: 225px;
    }
  }
  
  
  @media (min-width: 1280px) {
    .photo-grid__item {
        gap: 16px;
        max-height: 213px;
    }
  }