.place__link {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-left: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    width: 100%;
 }

 @media (min-width: 768px) {
   .place__link {
      margin: 0;
 }


