.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    object-fit: contain;
    width: 100%;
    min-height: fit-content;
}

@media (min-width: 1280px) {
    .cover__background {
        margin: 0 48px;
        width: calc(100% - 96px);
    }
}
